<% layout('layouts/boilerplate.ejs') %>

    <h1>Add A New Item</h1>

    <form action="/items" method="POST" enctype="multipart/form-data">

        <label for="name">Item Name</label>
        <input type="text" name="name" id="name" placeholder="Item name" required>

        <input type="file" name="image" id="" multiple>

        <label for="name">Item Price</label>
        <input type="number" name="price" id="price" placeholder="Item price" required>

        <label for="name">Item Description</label>
        <input type="text" name=description id="description" placeholder="Item description" required>

        <label for="name">Item Status</label>
        <input type="text" name=status id="status" placeholder="Item status" required>



        <button>Add Item</button>
    </form>


    <button class="btn btn-dark mt-3"><a href="/items">Back</a></button>